{
  "parser": "babel-eslint",
  "extends": ["@noths", "plugin:cypress/recommended", "prettier"],
  "plugins": ["cypress"],
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": false,
    "react/jsx-filename-extension": false,
    "react/prefer-stateless-function": false
  },
  "globals": {
    "Contentstack": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "cypress/globals": true
  }
}
